

{% extends 'base.html' %}
{% load static %}
{% load leaflet_tags %}
{% leaflet_js %}
{% leaflet_css %}
{% block title %}{{p.title}}{% endblock %}
{% block content %}


					<div class="blog_post_style2 blog_single_div" style="text-align: right; direction: rtl;">
						<div class="blog_post_style2_img wow fadeInUp">
							<img src="{{p.image.url}}" class="img-fluid" alt="">
						</div>
						<div class="blog_post_style2_content wow fadeInUp" style="text-align: right; direction: rtl;">
							<h3>{{ p.title }}</h3>
							<div class="blog_author_data"><a href="#">{{ p.author }}, {{ p.created_date }}</a></div>
							<ul class="blog_meta_tags">
								<li><span class="blog_bg_blue"><svg xmlns="http://www.w3.org/2000/svg" width="12px" height="7px"><path fill-rule="evenodd"  fill="rgb(255, 255, 255)" d="M11.829,3.074 C11.732,2.948 9.422,-0.000 6.468,-0.000 C3.514,-0.000 1.203,2.948 1.106,3.074 C0.916,3.320 0.916,3.678 1.106,3.925 C1.203,4.050 3.514,6.999 6.468,6.999 C9.422,6.999 11.732,4.050 11.829,3.925 C12.020,3.678 12.020,3.320 11.829,3.074 ZM7.370,1.771 C7.569,1.651 7.846,1.788 7.989,2.077 C8.132,2.366 8.087,2.696 7.888,2.816 C7.689,2.936 7.412,2.799 7.269,2.510 C7.126,2.221 7.171,1.890 7.370,1.771 ZM6.468,5.930 C4.404,5.930 2.668,4.183 2.067,3.499 C2.473,3.037 3.397,2.091 4.589,1.525 C4.357,1.915 4.220,2.381 4.220,2.883 C4.220,4.251 5.227,5.360 6.468,5.360 C7.709,5.360 8.715,4.251 8.715,2.883 C8.715,2.381 8.579,1.915 8.346,1.525 C9.539,2.091 10.463,3.037 10.869,3.499 C10.268,4.184 8.531,5.930 6.468,5.930 Z"/></svg> {{ p.view }}</span></li>
							</ul>
                            <p>{{ p.content | safe}}</p>

						</div>
					</div>

				{% if p.form %}
				<div class=" card card-primary">
					<div class="card-header">
						<h3 class="card-title">{{p.form.title}}</h3>

					<!-- /.card-header -->
					<!-- form start -->
					<div class="panel-body">
					<form role="form" method="post" action="/getanswer/{{p.form.id}}/" class="form-horizontal">
						{% csrf_token %}
						<div class="card-body">
							{% for g in p.form.field_set.all %}
							<div class="form-group">
								<label for="exampleInputEmail1">{{g.title}}</label>
								<input type="{{g.type}}"  name="{{g.id}}" class="form-control" id="exampleInputEmail1" placeholder="">
							</div>
							{% endfor %}
							{% for g in p.form.textfield_set.all %}
							<div class="form-group">
								<label>{{g.title}}</label>
								<textarea class="form-control"  name="{{g.id}}" rows="3" placeholder="وارد کردن اطلاعات ..."></textarea>
							</div>
								{% endfor %}

						</div>
						<!-- /.card-body -->

						<div class="card-footer">
							<button type="submit" class="btn btn-primary">ارسال</button>
						</div>
					</form>
				</div>


				{% endif %}

				{% if p.nazarsanji %}
				<div class=" card card-primary">
					<div class="card-header">
						<h3 class="card-title">{{p.nazarsanji.title}}</h3>

					<!-- /.card-header -->
					<!-- form start -->
					<div class="panel-body">
					<form role="form" method="post" action="/ngetanswer/{{p.nazarsanji.id}}/" class="form-horizontal">
						{% csrf_token %}
						<h3>{{p.nazarsanji.qes}}</h3>
						<div class="card-body">
							{% for g in p.nazarsanji.nfield_set.all %}
							<div class="radio">
								<label>
									<input type="radio" name="nid" id="optionsRadios2" value="{{g.id}}">
									{{g.title}}
								</label>
							</div>
							{% endfor %}

						</div>
						<!-- /.card-body -->

						<div class="card-footer">
							<button type="submit" class="btn btn-primary">ارسال</button>
						</div>
					</form>
				</div>


				{% endif %}

{% endblock %}
