{% extends 'FaraPy-Theme/base.html' %} {% load thumbnail %} {% load static %}
{% block title %}{{p.title}}{% endblock title %}
{% block content %}
            <main class="posts">
                <div class="post">
                    <h2>{{p.title}}</h2>
                    <div class="post-summery">
                           {{p.content|safe}}
                    </div>
                </div>
                	{% if p.form %}
                    <div class="latest-news related-news relative">
                        <h3><span>{{p.form.title}}</span></h3>
                        <form class="press-comment" method="post" action="/getanswer/{{p.form.id}}/">{% csrf_token %}
                          {% for g in p.form.field_set.all %}
                            <input type="{{g.type}}"  name="{{g.id}}" placeholder="{{g.title}}">
                          {% endfor %}
                            {% for g in p.form.textfield_set.all %}
                            <textarea  name="{{g.id}}" placeholder="{{g.title}}"></textarea>
                            {% endfor %}
                            <button type="submit" class="btn fy-submit">Send</button>
                        </form>
                    </div>
                  {% endif %}
                    {% if p.com %}
                    <div class="latest-news related-news relative">
                        <h3><span>Comments</span></h3>
                        <div class="press-comment">
                        <form action='/getcom/{{p.id}}/' method='post'>
                            <input type="text" name="name" placeholder="Name">
                            <input type="email" name="email" placeholder="Email">
                            <textarea name="text" placeholder="Description"></textarea>
                            <button id="send" type="submit" onclick="sMessage()">Submit</button>
                        </form>
                            <style>.comment-message {display:none;}</style>
                            <div class="comment-message"  id="message-show">
                                <p>Your Comment is under moderation</p>
                            </div>
                            <script>
                                function sMessage() {
                                    var x = document.getElementById("message-show");
                                    if (x.style.display === "inline-block") {
                                        x.style.display = "none";
                                    } else {
                                        x.style.display = "inline-block";
                                    }
                                }
                            </script>
                        </div>
                    </div>
                    <div class="latest-news related-news relative">
                        <h3><span>Commnents up to now ({{com.count}})</span></h3>
                        <ul class="press-user-comments" id='ref'>
                        {% for x in com %}
                        <li>
                          <div class="user-comment-details over">{% if port == 1 %}<a href="/dc/{{x.id}}/" class="pull-left btn btn-danger btn-xs"><i class="fa fa-trash"></i> Remove</a>{% endif %}
                            <div class="user-comment-name right">{{x.name}}</div>
                            <div class="user-comment-date left">{{x.date}}</div>
                          </div>
                          <div class="user-comment-matn">{{x.text}}</div>
                      </li>

                        {% endfor %}
                        <ul>
                    </div>
                    {% endif %}
            </main>

{% endblock %}
{% block js%}
<script type="text/javascript">
        $(function () {
            $("#send").click(function () {
                $.ajax({
                   url: '/getcom/{{p.id}}/',
                   data: { 'name': $("#name").val() , 'email': $("#email").val() , 'text': $("#text").val() },
                   type: 'post',
                   cache: false,
                   success: function updateDiv()
        {
           $( "#ref" ).load(window.location.href + " #ref" );
           document.getElementById('name').value = "";
           document.getElementById('text').value = "";
           document.getElementById('email').value = "";
        }
                });
            });
        });
        </script>
{% endblock %}